{{new-album-title title=album.title}}
{{new-album-artist artist=album.artist}}
{{new-album-description description=album.description}}

<button type="submit" class="btn btn-primary" {{action "edit"}} on="submit">
  Update
</button>
<button class="btn btn-default" {{action "reset"}} on="click">
  Cancel
</button>
